extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="img sobre nosotros",class="img-fluid")    
            .col-md-7    
                h1 #{pagina}

                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum ante felis, ut vehicula magna malesuada dignissim. In felis erat, rutrum in porttitor vitae, varius vel massa. Sed pharetra eros nec diam rutrum aliquet. Quisque non justo ut velit tristique maximus. Duis ac lectus sit amet urna tincidunt mattis. 

                p interdum in diam eu vulputate. Curabitur dapibus risus sodales, placerat augue nec, lobortis nisl. Nullam iaculis arcu non mi ultricies egestas a sit amet magna. Morbi vestibulum, odio at efficitur cursus, erat turpis auctor est, ut porta odio 

                p eget justo eget dolor bibendum condimentum at vitae risus. Mauris vehicula efficitur neque et porttitor. In vitae orci justo. Nulla turpis odio, pulvinar sed bibendum id, luctus a nunc. Ut id arcu pretium, porttitor tortor a, semper enim. 

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col--md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit minus accusamus vel asperiores ipsa tempora adipisci sed expedita praesentium dicta commodi optio quia aut aliquid rem consequatur, dolores iure! Animi?
                
                .col--md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos",class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit minus accusamus vel asperiores ipsa tempora adipisci sed expedita praesentium dicta commodi optio quia aut aliquid rem consequatur, dolores iure! Animi?

                .col--md-4
                    img(src="img/icono_precios.svg", alt="icono precios",class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit minus accusamus vel asperiores ipsa tempora adipisci sed expedita praesentium dicta commodi optio quia aut aliquid rem consequatur, dolores iure! Animi?

